[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages.acvp]
editable = true
path = '.'

[packages.importlib_metadata]
markers = "python_version < '3.8.0'"

[packages]
torch = "==1.4.0"
rainy = { editable = true, path = '../Rainy' }
# rainy = "==0.6.0"

[dev-packages]
pytest = "==5.2.4"
